body{
    background: radial-gradient(ellipse at top, #e66465, transparent),
                radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    background-attachment: fixed;
}
.contenedor{
    background-color: #EEAB0A;
    box-shadow: #EEAB0A 0em 0em 3em ;
    border-radius: 50% 50%;
    height: 400px;
    width: 400px;
    margin: 120px auto;
    margin-top: 15%;
    cursor: pointer;
}
.cara{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background:linear-gradient(rgba(231,204,134),#feca45,#feca45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px #111;
}
.cont-ojos{
    height: 100px;
    width:80%;
    display: flex;
    justify-content: space-between;
}
.cont-ojos .ojos{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px #111;
}
.ojos .ocular{
    height: 40px;
    width: 35px;
    border-radius: 50%;
    background-color: #111;
    transition: .5s;
}

.boca{
    width: 130px;
    height: 15px;
    border-radius: 20px;
    background-color: #76370a;
    margin-top: 80px;
}
.cara:hover .ocular{
    transform: translateY(-27px);
}
.bottom{
    display: block;
    margin-left: 45%;
    margin-bottom: 5%;
}