:root {
    --color-right: #9999ff;
    --color-left: #da9fc7;
}

body, html {
    background-color: #666666;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .cont-header {
        /* background-color: #f4f4f4; */
        height: 20%;
        text-align: center;
        padding: 0 0;
        font-size: 25px;
        color: white;

        h2 { margin-top: 90px; }
    }
    .cont-main {
        height: 85%;
        display: flex;
        flex: 1;
        text-align: center;
        h3 {
            margin-top: 0;
            font-size: 35px;
        }
        p {
            margin: 10px 0 20px;
            padding: 50px 0;
            font-size: 20px;
        }
        .left, .right {
            flex: 1;
            padding: 0 80px 80px;
            box-sizing: border-box;
            align-items: center;
            align-content: center;
        }
        .left {
            color: var(--color-left);
            input[type="button"] {
                background-color: var(--color-left);
            }
            input[type="button"]:hover {
                background-color: #ffb9df;
            }
        }
        .right {
            color: var(--color-right);
            input[type="button"] {
                background-color: var(--color-right);
            }
            input[type="button"]:hover {
                background-color: #9999ffd4;
            }
        }
        input[type="button"] {
            padding: 20px 50px;
            border-radius: 10px;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }
    }
}